*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec1{
    background-image: url(img.jpg);
    background-size: cover;
    height: 120vh;   
}
nav{
    display: flex;
    color: azure;
    justify-content: space-evenly ;
    
}
.flex{
    display: flex;
    color: azure;
}
.box{
    margin: 30px;
    color: azure;
    text-align: right;
}       
.main1{
    color: white;
    margin-left: 10%;
    margin-top: 5%;
}

input[type='text']{
    width: 40%;
    height: 30px;
    border-radius: 30px;
    border: none;
    position: relative;
}




.btn1{
    background-color: tomato;
    border: none;
    padding: 10px;
    width: 15%;
    border-radius: 50px;
}
.sec2{
    background-image: url(but.jpg);
    background-size: cover;
    height: 70vh;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 20%;
}
.imgs{
    border-radius: 50%;
    height: 200px;
}
.sec3{
    background-color: brown;
    background-size: cover;
    height: 50vh;
    padding: 10%;
}
.grid1{
    display: grid;
}
.main2{
    text-align:center;
    margin-top: -20% ;

}
.btn2{
    background-color: azure;
    border: none;
    padding:10px ;
    width:15% ;
    border-radius:50px ;
    margin-bottom: 10px;
    text-align: center;
}
.sec4{
    background-color: blanchedalmond;
    background-size: cover;
    height:80vh;

}
.grid2{
    display: grid;

}
.img3{
    margin-right: 10px;
}
.main3{
    text-align:center;
    margin-top: -30%;
    margin-left: -70%;
}
.btn3{
    background-color: tomato;
    border: none;
    padding:5px ;
    width: 10%;
    border-radius: 30px;
}
.sec5{
    background-color: rgb(248, 80, 50);
    background-size: cover;
    padding: 50px;
    height: 70vh;
}
.grid3{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10%;
}

.head{
    border-radius: 50%;
    width:100px;
    padding: 60px;
    border: 2px solid white;
    margin: 4px;
    text-align: center;
    font-size: 25px;
}
.sec6{
    background-size: cover;
    height: 100vh;
    padding: 40px;
    background-color: bisque;
}
.main5{
    text-align: center;
    color: brown;
    font-size: 50px;
}
.grid3{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: -15px 25px;
}
.btn4{
    background-color: tomato;
    border: none;
    padding: 5px;
    width: 30%;
    border-radius: 50px;
    color: azure;
}
.sec7{
    background-image: url(maxr.jpg);
    height: 120vh;

}
.grid4{
    display: grid;
    padding: 200px;
    text-align: center;
    font-size: 20px;
    color:rgb(13, 9, 9);
}
.sec8{
    background-color:bisque ;
    background-size: cover;
    height: 70vh;
    padding: 50px;
}
.grid5{
    display: grid;
    text-align: center;
    margin: 150px;
}
.btn5{
    background-color: tomato;
    color: brown;
    padding: 6px;
    border: none;
    border-radius: 50px;
    width: 100px;
    position: absolute;
    left: 60%;
}
.sec9{
    background-color: black;
    background-size: cover;
    height: 70vh;
    padding: 50px;
}
.grid6{
    display: grid;
    color: azure;
    grid-template-columns: auto auto auto auto;
}

.grids{
    display: flex;
    justify-content: center;
}
.gridItem{
    background-color: white;
    margin: 10px;
    text-align: center;
     padding: 10px;
     border-radius: 10px;
}
.btn6{
    border-radius: 50px;
    color: aliceblue;
    background-color: tomato;
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 90%;
text-transform: uppercase;

}
.flex5{
    color: black;
    border: 10px saddlebrown;
    display: inline-block;
    margin: 20px;
}
th{
    box-sizing: border-box;
}




    



    


